@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,400;1,500;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  max-width: 744px;
  margin: 0 auto;
  font-family: Poppins, sans-serif;
}

.btn {
  @apply h-14 flex justify-center items-center rounded-full text-xl font-medium;
}

.btn--green {
  @apply bg-green-500 hover:bg-green-700 text-white;
}

.btn--blue {
  @apply bg-blue-500 hover:bg-blue-700 text-white;
}

.btn--yellow {
  @apply bg-yellow-500 hover:bg-yellow-700 text-white;
}

.btn--red {
  @apply bg-red-500 hover:bg-red-700 text-white;
}

.box {
  @apply p-8 border-4 border-black rounded-2xl bg-gray-100;

}
.box.box--white {
  @apply bg-white;
}

.field {
  @apply flex;
}

.field-label {
  @apply w-36;
}

.input-text {
  @apply flex-1 border border-black rounded-full px-4;
}

.textarea {
  @apply flex-1 border border-black rounded-2xl p-4;
}
